<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:app="http://schemas.android.com/apk/res-auto"
    package="com.cs446w18.a16.imadog">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity android:name=".activities.menu.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".activities.menu.JoinGameActivity"
            android:label="Join a game" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activities.menu.MainActivity" />
        </activity>

        <activity
            android:name=".activities.menu.CreateGameActivity"
            android:label="Create a game" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activities.menu.MainActivity" />
        </activity>

        <activity
            android:name=".activities.menu.SettingsActivity"
            android:label="Settings" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activities.menu.MainActivity" />
        </activity>

        <activity
            android:name=".activities.menu.LobbyActivity"
            android:label="Lobby" >
        </activity>

        <activity
            android:name=".activities.HelpActivity"
            android:label="Help" >
        </activity>

        <activity
            android:name=".activities.GameActivity"
            android:label="Game" >
        </activity>




    </application>

</manifest>